@font-face {
  font-family: 'Noto Sans JP', sans-serif;
  src: url(../assets/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

body {
  background-image: url(../assets/scoreboard_mt64.png);
  background-size: cover;
  background-color: transparent;
}
/*
.mario-tennis {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;

} */
/*
.mario-tennis .overlap-group-wrapper {

} */

.overlap-group {
  top: 1265px;
  left: 368px;
  position: relative;
  height: 70px;
  width: 1440px;
}

.player-names {
  color: rgb(20, 20, 20);
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.name-1p {
  height: 60px;
  left: 5px;
  position: absolute;
  top: 13px;
  width: 510px;
}

.name-2p {
  height: 60px;
  left: 1161px;
  position: absolute;
  top: 13px;
  width: 510px;
}

.score {
  color: aliceblue;
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 60px;
  font-weight: 700;
}

.score-1p {
  height: 60px;
  left: 617px;
  position: absolute;
  top: 9px;
  width: 60px;
}

.score-2p {
  height: 60px;
  left: 1017px;
  position: absolute;
  top: 9px;
  width: 60px;
}

.info {
  height: 60px;
  left: 717px;
  position: absolute;
  top: 14px;
  width: 234px;
}

.bestOfInfo {
  color: #ffffff;
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 25px;
  font-weight: 700;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 230px;
}

.roundInfo {
  color: #ffffff;
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 25px;
  font-weight: 700;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 230px;
}

.icon-1p {
  left: 0px;
  position: absolute;
  top: 340px;
  width: 302px;
  height: 500px;
}

.icon-2p {
  left: 2100px;
  position: absolute;
  top: 340px;
  width: 302px;
  height: 500px;
}
