@font-face {
  font-family: 'Noto Sans JP', sans-serif;
  src: url(../assets/font/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}

.mario-tennis {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mario-tennis .overlap-group-wrapper {
  background-image: url(../assets/scoreboard_mt64.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1080px;
  width: 1920px;
}

.mario-tennis .overlap-group {
  height: 70px;
  left: 240px;
  position: relative;
  top: 1010px;
  width: 1440px;
}

.mario-tennis .player-names {
  color: rgb(20, 20, 20);
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.mario-tennis .name-1p {
  height: 60px;
  left: 5px;
  position: absolute;
  top: 15px;
  width: 510px;
}

.mario-tennis .name-2p {
  height: 60px;
  left: 925px;
  position: absolute;
  top: 15px;
  width: 510px;
}

.mario-tennis .score {
  color: aliceblue;
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 48px;
  font-weight: 700;
}

.mario-tennis .score-1p {
  height: 60px;
  left: 547px;
  position: absolute;
  top: 9px;
  width: 60px;
}

.mario-tennis .score-2p {
  height: 60px;
  left: 867px;
  position: absolute;
  top: 9px;
  width: 60px;
}

.mario-tennis .info {
  height: 60px;
  left: 605px;
  position: absolute;
  top: 9px;
  width: 234px;
}

.mario-tennis .bestOfInfo {
  color: #ffffff;
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 230px;
}

.mario-tennis .roundInfo {
  color: #ffffff;
  font-family: 'Noto Sans-DisplayBold', Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 230px;
}

.mario-tennis .icon-1p {
  left: 0;
  position: absolute;
  top: 280px;
  width: 240px;
  height: 400px;
}

.mario-tennis .icon-2p {
  left: 1680px;
  position: absolute;
  top: 280px;
  width: 240px;
  height: 400px;
}
